@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The application takes an artist from the user and returns details about the artist and their events.</p>
<p>It will access the <a href="https://app.swaggerhub.com/apis/Bandsintown/PublicAPI/3.0.0">Bandsintown</a> public API.</p>

<address>
    <strong>Source code:</strong> <a href="https://github.com/renancosme/artistsearch">https://github.com/renancosme/artistsearch</a>
</address>

